@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --primary-color-black: #111214;
    --primary-color-main-color: #fe390c;
    --secondary-color-grey-100: #a7aab4;
    --secondary-color-grey-10: #f7f7f7;
    --text-color-black: #111214;
    --text-color-white: #fff;
    --text-color-grey: #a9a9aa;
    --ui-color-primary: #6750a3;

    --font-family: "Montserrat", sans-serif;
    --second-family: "Anton", sans-serif;
}

/* default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* end default styles */

body {
    font-family: var(--font-family);
    color: var(--primary-color-black);
    font-weight: 400;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    /* центрирует по центру*/
    /* background: green; */
}

.btn-orange {
    background: var(--primary-color-main-color);
    color: var(--text-color-white);
}

.text-orange {
    color: var(--primary-color-main-color);
}

.data-number {
    font-family: var(--second-family);
    font-size: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.inner-title {
    font-family: var(--second-family);
    font-size: 40px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 24px;
}

/* header */

.header {
    height: 100vh;
    background-image: url(../images/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {
    padding: 24px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    flex: 0.6;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style: none;
    gap: 15px;
}

.link {
    text-decoration: none;
    color: var(--text-color-grey);
    font-size: 12px;
    text-transform: uppercase;
    transition: .3s linear;
}

.link:hover {
    color: var(--primary-color-main-color);
}

.burger {
    display: none;
}

.contact-link {
    border: 1px solid var(--primary-color-main-color);
    border-radius: 4px;
    padding: 12px 16px;
    width: 92px;
    height: 39px;
    display: block;
    line-height: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--primary-color-main-color);
}

.header-bottom {
    padding: 218px 0 225px 0;
}

.header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-social {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-sub {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    color: var(--primary-color-main-color);
}

.header-sub span {
    color: var(--text-color-white);
}

.header-title {
    font-family: var(--second-family);
    font-size: 130px;
    line-height: 1.18;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--text-color-white);
}

.header-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: -0.04em;
    color: var(--text-color-white);
    margin-bottom: 24px;
}

.header-link {
    border-radius: 4px;
    padding: 16px 0px;
    width: 106px;
    height: 47px;
    display: block;
    text-align: center;
    text-transform: capitalize;
}

/* end header */


/* section about */

.about {
    padding: 90px 0 85px 0;
}

.about .container {
    display: flex;
    justify-content: center;
    gap: 65px;
    flex-wrap: wrap;
}

.about-block,
.about-content {
    max-width: 521px;
    width: 100%;
}

.about-block {
    display: flex;
    gap: 60px;
}

.about-info {
    width: 151px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 12px;
    text-align: right;
}

.about-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.04em;
}

.about-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}

.about-item:nth-child(2) {
    flex-direction: column-reverse;
    padding-top: 30px;
}

.about-item:nth-child(2) {
    align-items: flex-start;
}

.about-item:nth-child(2) .about-info {
    flex-direction: row;
}

.about-item:nth-child(2) .about-text {
    text-align: left;
}

.about-content h2 {
    margin-bottom: 24px;
}

.about-descript {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.29;
    letter-spacing: -0.02em;
    color: var(--text-color-grey);
    padding-left: 90px;
}

.about-descript:not(:last-child) {
    margin-bottom: 15px;
}

/* end section about */

/* partners */

.partners {
    background: var(--secondary-color-grey-10);
}

.partners-wrapper {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 90px 0 190px 0;
}

/* end partners */

/* work */
.work {
    margin-top: -110px;
}

.work-wrapper {
    padding: 75px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/work-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.work-wrapper h2 {
    font-family: var(--second-family);
    font-size: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 30px;
}

.work-link {
    border-radius: 4px;
    padding: 16px 24px;
    width: 138px;
    height: 47px;
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 20px;
}

.work-download {
    width: 125px;
    height: 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.04em;
    color: var(--text-color-grey);
    text-align: right;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: left center;
}

/* end work */

/* service */

.service {
    padding: 80px 0 85px 0;
}

.service-title {
    justify-content: center;
}

.service-wrapper {
    display: flex;
    margin-top: 55px;
    gap: 60px;
}

.service-card {
    background: var(--secondary-color-grey-10);
    padding: 40px 30px 30px 20px;
    cursor: pointer;
    transition: 0.3s linear;
}

.service-card svg {
    fill: var(--primary-color-main-color);
}

.service-card:hover {
    background: var(--primary-color-main-color);
}

.service-card-title {
    margin: 24px 0 8px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: -0.04em;
}

.service-card-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: -0.02em;
    color: var(--text-color-grey);
}

.service-card:hover .service-card-title {
    color: #fff;
}

.service-card:hover .service-card-text {
    color: #ffd7ce;
}

.service-card:hover svg {
    fill: #fff;
}


/* end service */

/* portfolio */

.portfolio {
    background: var(--secondary-color-grey-10);
    padding: 72px 0;
    position: relative;
}

.portfolio-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 63px;
}

.portfolio-list {
    display: flex;
    gap: 12px;
}

.portfolio-item {
    padding: 12px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-color-grey);
    border: 1px solid transparent;
    cursor: pointer;
    transition: .3s linear;
}

.portfolio-item:hover,
.portfolio-item.active {
    border: 1px solid var(--primary-color-main-color);
    border-radius: 4px;
    color: var(--primary-color-main-color);
}

.slider-left {
    width: 40px;
    height: 40px;
    background-color: var(--primary-color-main-color);
    position: absolute;
    right: 64px;
    top: -128px;
    z-index: 10;
}

.slider-right {
    width: 40px;
    height: 40px;
    background-color: var(--primary-color-main-color);
    position: absolute;
    right: 0;
    top: -128px;
    z-index: 10;
}

.portfolio-btn {
    display: flex;
    gap: 24px;
}

.slide {
    position: relative;
    max-width: 364px;
    width: 100%;
    margin: 0 auto;
}

.slider-list {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.59);
    padding-top: 90px;
    opacity: 0;
    transition: .3s linear;
}

.slide:hover .slider-list {
    opacity: 1;
    z-index: 5;
    cursor: pointer;
}

.slider-title {
    font-family: var(--second-family);
    font-size: 32px;
    text-transform: capitalize;
    color: #fff;
    text-align: center;
}

.slider-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: -0.04em;
    color: #fff;
    text-align: center;
}

.slick-dots {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 40px;
}

.slick-dots button {
    font-size: 0;
    border-radius: 1px;
    width: 15px;
    height: 3px;
    background: #e0e0e0;
    transition: .3s linear;
}

li.slick-active button {
    background: var(--primary-color-main-color);

}

/* end portfolio */

/* testimonial */

.testimonial {
    padding: 120px 0;
}

.testimonial-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 75px;
}

.testimonial-slide {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.testimonial-slide figure {
    max-width: 364px;
    width: 100%;
}

.testimonial-block {
    max-width: 655px;
    width: 100%;
}

.slide-number {
    display: flex;
}

.first-number {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--primary-color-main-color);
}

.last-number {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    color: #c4c4c4;
}

.testimonial-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.29;
    letter-spacing: -0.02em;
    color: var(--primary-color-black);
    max-width: 429px;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.testimonial-text::before {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url(../images/scrambl.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: -55px;
    z-index: 4;
}

.testimonial-block .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: -0.04em;
    color: var(--primary-color-main-color);
}

.testimonial-block .job {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: -0.04em;
    color: var(--text-color-grey);
}

.testimonial-slider .slider-left {
    top: auto;
    bottom: 0;
    right: 64px;
}

.testimonial-slider .slider-right {
    top: auto;
    bottom: 0;
    right: 0;
}

.testimonial-slider ul.slick-dots {
    margin-top: -25px;
    position: relative;
    z-index: 5;
}

/* end testimonial */

/* footer */

.footer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/footerBg.jpg);
}

.footer-title {
    color: var(--text-color-white);
}

.footer-top {
    padding: 55px 0 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contact-list {
    margin: 55px 0 64px 0;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.contact-list li {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.contact-list .title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: var(--text-color-white);
}

.contact-list .descript {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--text-color-grey);
}

.contact-phone {
    background: url(../images/phone.svg) no-repeat left center;
}

.contact-email {
    background: url(../images/email.svg) no-repeat left center;
}

.contact-address {
    background: url(../images/location.svg) no-repeat left center;
}

.footer-social {
    display: flex;
    gap: 28px;
}

/* end footer */


@media(max-width:980px) {
    .nav {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        background: #816262;
        width: 100vw;
        position: absolute;
        left: 0;
        top: -1000px;
        transition: .9s linear;
    }

    .nav.active {
        top: 0;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .burger {
        display: block;
        width: 60px;
        height: 40px;
        background: red;
        position: relative;
        transition: .3s linear;
        z-index: 5;
    }

    .burger.active {
        background: green;
    }
}